<p id="notice"><%= notice %></p>

<h1>Listing User Livros</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Livro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_livros.each do |user_livro| %>
      <tr>
        <td><%= user_livro.user_id %></td>
        <td><%= user_livro.livro_id %></td>
        <td><%= link_to 'Show', user_livro %></td>
        <td><%= link_to 'Edit', edit_user_livro_path(user_livro) %></td>
        <td><%= link_to 'Destroy', user_livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User livro', new_user_livro_path %>
