<%= form_for(@user_jogo) do |f| %>
  <% if @user_jogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_jogo.errors.count, "error") %> prohibited this user_jogo from being saved:</h2>

      <ul>
      <% @user_jogo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Usuário" %><br>
    <%= f.collection_select :user_id, User.all,:id,:nome, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label "Jogo" %><br>
    <%= f.collection_select :jogo_id, Jogo.all,:id,:nome, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
